@model IEnumerable<CURD_Operation_MVC_Demo.Models.Category>

@{
    ViewBag.Title = "Category List";
}

<h2>Category List</h2>
<hr />

<p>
    <i class="fa fa-plus"></i>
    @Html.ActionLink("Create New", "Create") |
    <i class="fa fa-list"></i>
    @Html.ActionLink("Go to Product List", "Index", "Product")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink(" Edit", "Edit", new { id = item.CategoryId }, new { @class = "fa fa-edit" }) |
                @Html.ActionLink(" Details", "Details", new { id = item.CategoryId }, new { @class = "fa fa-info" }) |
                @Html.ActionLink(" Delete", "Delete", new { id = item.CategoryId }, new { @class = "fa fa-trash" })
            </td>
        </tr>
    }
</table>